.modalImg {
  width: 150px;
  border: 2px solid rgb(65, 65, 65);
  border-radius: 50%;
  margin-top: 15px;
}

.modalName {
  font-size: 40px;
}

.modalBtn {
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 6px solid transparent;

  &:hover {
    color: rgb(180, 180, 180);
    border-bottom: 4px solid rgb(75, 75, 75);
    margin-bottom: 10px;
  }
}

.modalActiveBtn {
  font-size: 20px;
  padding-bottom: 6px;
  color: rgb(255, 254, 254);
  border-bottom: 4px solid rgb(72, 250, 110);
  margin-bottom: 10px;
}

.closeModal{
  padding: 35px 20px;
}

.closeModalImg{
  margin: 0;
  padding: 0;
  width: 35px;
}

@media (max-width: 463px) {
  .modalImg {
    width: 100px;
    margin-top: 30px;
  }


  .closeModal{
    padding: 40px 20px;
  }

  .closeModalImg{
    margin: 0;
    padding: 0;
    width: 25px;
  }

  .modalName {
    font-size: 25px;
  }

  .modalBtn {
    font-size: 20px;
  }

  .modalActiveBtn {
    font-size: 20px;
  }
}

@media (max-width: 426px) {
  .closeModal{
    padding: 35px 25px;
  }
}


@media (max-width: 320px) {
  .closeModal{
    padding: 36px 10px;
  }
}